<html>
	<head>
		<link rel='shortcut icon' href="{{ url_for('static', filename='images/favicon.ico') }}">
		<link rel='stylesheet' href="{{ url_for('static',filename='styles/main.css') }}">
		<title>Weather Application</title>
	</head>
	<body>
		<div class='center_box'>
			<form autocomplete='off'>
				<input class='search' type='text' placeholder='Search City' name='search' required>
				<button type='submit' hidden></button>
			</form>
			<div class='card'>
				<h2>Location</h2>
				{% for key in data[0].keys() %}
					<div class='card_header'>
						{{ key|capitalize }}
					</div>
					<div class='card_body'>
						{{ data[0][key] }}
					</div>
				{% endfor %}
			</div>
			<div class='card'>
				<h2>Weather</h2>
				{% for key in data[1].keys() %}
					<div class='card_header'>
						{{ key|capitalize }}
					</div>
					<div class='card_body'>
						{{ data[1][key] }}
					</div>
				{% endfor %}
			</div>
		</div>
	</body>
</html>
