body{
    background-image: url('../images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
:focus {
    outline-color: transparent;
    outline-style: none;
  }
.search{
    padding: 10px;
    font-size: medium;
    border-radius: 2em;
    border-style: solid;
}
.center_box{
    top: 50%;
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    width: max-content;
    height: max-content;
    transform: translate(-50%, -50%);
}
.card{
    border-style: solid;
    border-color: blue;
    border-radius: 1em;
    padding: 5px;
    margin: 5px;
}
.card_header{
    font-size: 15px;
    text-align: start;
}
.card_body{
    font-size: 25px;
    text-align: center;
    margin: 0em 5em;
}